.MainContainerComputing
  outline: 4px solid black
  padding: 30px

  .CountAnalyzedNodes
    display: inline-block
    margin-left: 10px
    color: green

  .ContainerComputingGIF
    width: max-content
    height: max-content

    .ComputingGIF
      height: 300px
