.InputMainContainer
  display: flex
  width: 100vmin
  height: 100vmin
  flex-direction: column
  justify-content: center
  align-items: center
  overflow: hidden

  .InsideMainContainer
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    width: calc(100vmin - 10px)
    height: max-content
    outline: 5px solid black

    .InsideSecondaryContainer
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      overflow: hidden

    .Htitle
      display: flex
      justify-content: center
      align-items: center
      width: 39vmin
      height: 2vmin
      overflow: hidden
      font-weight: bold
      font-size: 2vmin
      text-align: center

    .title-selected-attr
      width: 20vmin
      height: 5vmin
      font-size: 2vmin

    .Matrixs
      width: 39vmin
      height: 39vmin

    .SelectedAttributes
      width: 20vmin
      height: max-content

      .StartButton
        display: flex
        width: 15vmin
        height: 5vmin
        flex-direction: row
        justify-content: center
        align-items: center
        font-size: 3.5vmin
        margin-top: 1vmin
        margin-bottom: 1vmin
        background: green
        outline: none

      .InputSizeMatrixContainer
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        margin-top: 1vmin
        overflow: hidden
        font-size: 3vmin

        .InputSizeMatrix
          display: flex
          text-align: center
          width: 5vmin
          height: 5vmin
          outline: none
          margin-right: 5px
          border: 2px solid black
          overflow: hidden
          font-size: 3vmin

      .InputMaxNodesForAnalyse
        display: flex
        margin-top: 10px
        width: 15vmin
        height: 5vmin
        outline: none
        border-radius: 15px
        border: 2px solid black
        text-align: center
        font-size: 3vmin

      .SwitchMethod
        display: flex
        width: 18vmin
        height: 5vmin
        flex-direction: row
        justify-content: center
        align-items: center
        border: 2px solid black
        border-radius: 10px
        overflow: hidden
        margin-top: 1vmin

        .Method
          display: flex
          width: 9vmin
          height: 5vmin
          flex-direction: row
          justify-content: center
          align-items: center
          border: none
          outline: none
          cursor: pointer
          font-size: 1.5vmin
          font-weight: bold

        .Method-active
          background: greenyellow

  .HMaintitle
    display: flex
    justify-content: center
    align-items: center
    width: 100vmin
    height: 10vmin
    overflow: hidden
    font-weight: bold
    font-size: 4vmin
    text-align: center
