.InputMainContainer
  display: flex
  width: 100%
  height: 100%
  flex-direction: column
  justify-content: center
  align-items: center
  overflow: hidden

  .InsideMainContainer
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    width: 80%
    height: max-content
    outline: 5px solid black

    .InsideSecondaryContainer
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin: 20px

      .StartButton
        display: flex
        width: max-content
        height: max-content
        flex-direction: row
        justify-content: center
        align-items: center
        font-size: 32px
        margin-top: 30px
        margin-bottom: 30px
        background: green
        outline: none

      .InputMaxNodesForAnalyse
        display: flex
        margin-top: 30px
        width: 150px
        height: 50px
        outline: none
        border-radius: 15px
        border: 2px solid black

      .SwitchMethod
        display: flex
        width: max-content
        height: max-content
        flex-direction: row
        justify-content: center
        align-items: center
        border: 2px solid black
        border-radius: 10px
        overflow: hidden
        margin-top: 20px

        .Method
          display: flex
          width: 100px
          flex-direction: row
          justify-content: center
          align-items: center
          padding: 15px
          border: none
          outline: none
          cursor: pointer

        .Method-active
          background: greenyellow

  .performed
    .group_title
      display: inline-block
      margin-left: 20px
      color: green

    a
      display: block
      text-decoration: none
      color: black
      outline: 4px solid lightslategrey
      text-align: center
      padding: 5px 0
      margin: 15px 0

    a:hover
      background: lightgreen
