.current_temp_input_matrix_board
  display: flex
  flex-direction: column
  border: 2px solid black
  border-radius: 5px
  width: 35vmin
  height: 35vmin

  .one_row
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

    .one_block
      display: flex
      justify-content: center
      align-items: center
      border: 2px solid black
      border-radius: 5px
      cursor: pointer
      outline: none

      &:hover
        background: red

    .one_block_empty
      border: 2px dashed black
      background: none
      cursor: auto

      &:hover
        background: none
