.scoreboard_values
  display: flex
  flex-direction: column
  border: 2px solid black
  border-radius: 5px
  background: greenyellow
  width: 82vmin
  height: 82vmin
  max-width: 38vw
  max-height: 38vw

  .one_row
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    overflow: hidden

    .one_block
      display: flex
      justify-content: center
      align-items: center
      background: gold
      border: 2px solid black
      border-radius: 5px
      cursor: pointer
      outline: none

    .one_block_disabled
      background: gray
      cursor: auto
